#!/usr/bin/env gtk-launch

[Desktop Entry]
Terminal=false
Type=Application
Name=Messenger
Exec=google-chrome-stable --new-window --app=https://messenger.com
StartupWMClass=WhatsApp
#Icon=
