#!/usr/bin/env gtk-launch

[Desktop Entry]
Terminal=false
Type=Application
Name=WhatsApp
Exec=google-chrome-stable --new-window --app=https://web.whatsapp.com
StartupWMClass=WhatsApp
#Icon=
