! Loosely adapted from: https://github.com/vinceliuice/WhiteSur-gtk-theme

! Colors
*background:    #1f1f1f
*foreground:    #dadada

! black
*.color0:       #242424
*.color8:       #333333

! red
*.color1:       #ED5F5D
*.color9:       #c35b65

! green
*.color2:       #79B757
*.color10:      #82ac5d

! yellow
*.color3:       #F3BA4B
*.color11:      #e4b558

! blue
*.color4:       #0860F2
*.color12:      #5271ad

! magenta
*.color5:       #E55E9C
*.color13:      #cd7092

! cyan
*.color6:       #2E7CF7
*.color14:      #4c7bd9

! white
*.color7:       #f5f5f5
*.color15:      #dadada

XTerm.vt100.faceName: Source Code Pro:size=15

/* vim: set ts=4 sw=0 tw=80 et ft=xdefaults :*/
