[alias]
    hello       = "!$(git rev-parse --show-toplevel)/pokerus.immune/scripts/hello"
    infect      = "!$(git rev-parse --show-toplevel)/pokerus.immune/scripts/infect.sh"
    homemaker   = "!$(git rev-parse --show-toplevel)/pokerus.immune/scripts/homemaker.sh"

;  vim: set ts=4 sw=0 tw=80 et ft=gitconfig :
